*::selection {
    background-color: #21f8f8;
}

html {
    overflow-x: hidden;
}

body {
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "SF-Pro-Display-Regular", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #666;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover {
    text-decoration: none;
}

a a:focus {
    outline: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    max-width: 2000px;
    margin: 0 auto;
}

.opacity {
    opacity: 0 !important;
}
