.footer {
    padding: 15px 0;
    width: 100%;
    background-color: #232323;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.copy {
    color: white;
    text-align: center;
}

.copy a {
    color: white;
}
